/*---------------------------------------------
---------------- reset ---------------------*/
* {
	box-sizing: border-box;
	margin: 0;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}
/*---------------------------------------------
---------------- Global ---------------------*/
h1, h2, h3, h4, h5, h6,
p, em, b, i, strong,
li {
	font-family: 'Source Sans Pro', sans-serif
}
body {
	line-height: 1.3em;
}

header h1 {
	float: left;
	margin: 8px;
}

a {
	text-decoration: none;
}

p {
	font-size: 14px;
	margin: 20px 0;
}

.carousel-container {
	width: 55%;
	height: 400px;
	margin: auto;
	overflow: hidden;
	position: relative;
}

.carousel-slide {
	display: flex;
	width: 750px;
}

.carousel-slide img {
	width: 750px;
}

#nextBtn {
	z-index: 10;
	position: absolute;
	top: 45%;
	right: 5%;
	color: #fff;
	font-size: 30px;
}

#prevBtn {
	z-index: 10;
	position: absolute;
	top: 45%;
	left: 5%;
	color: #fff;
	font-size: 30px;
}